In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("merged_data.csv")

In [3]:
df

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,...,Latitude,Longitude,Population,Percent_Population_aged_0_14,Percent_Population_aged_10_19,Percent_Population_aged_10_24,Percent_Population_aged_15_64,Percent_Population_aged_65_and_older,LifeExpectancy_male,LifeExpectancy_female
0,Finland,Western Europe,1,7.741,1.844,1.572,0.695,0.859,0.546,0.142,...,63.246778,25.920916,5.5,15.0,11.0,17.0,61.0,24.0,80.0,85.0
1,Denmark,Western Europe,2,7.583,1.908,1.520,0.699,0.823,0.548,0.204,...,55.670249,10.333328,5.9,16.0,11.0,17.0,63.0,21.0,80.0,84.0
2,Iceland,Western Europe,3,7.525,1.881,1.617,0.718,0.819,0.182,0.258,...,64.984182,-18.105901,0.4,18.0,13.0,19.0,66.0,16.0,82.0,85.0
3,Sweden,Western Europe,4,7.344,1.878,1.501,0.724,0.838,0.524,0.221,...,59.674971,14.520858,10.7,17.0,12.0,18.0,62.0,21.0,82.0,85.0
4,Israel,Middle East and North Africa,5,7.341,1.803,1.513,0.740,0.641,0.193,0.153,...,30.812425,34.859476,9.3,28.0,17.0,24.0,60.0,12.0,82.0,85.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,Zimbabwe,Sub-Saharan Africa,138,3.341,0.748,0.850,0.232,0.487,0.131,0.096,...,-18.455496,29.746841,17.0,40.0,24.0,34.0,57.0,3.0,59.0,65.0
143,Sierra Leone,Sub-Saharan Africa,140,3.245,0.654,0.566,0.253,0.469,0.053,0.181,...,8.640035,-11.840027,9.0,38.0,23.0,33.0,59.0,3.0,60.0,63.0
144,Lesotho,Sub-Saharan Africa,141,3.186,0.771,0.851,0.000,0.523,0.085,0.082,...,-29.603927,28.335019,2.4,34.0,21.0,30.0,62.0,4.0,52.0,58.0
145,Lebanon,Middle East and North Africa,142,2.707,1.377,0.577,0.556,0.173,0.029,0.068,...,40.375713,-76.462612,5.2,27.0,20.0,27.0,62.0,11.0,78.0,82.0
146,Afghanistan,South Asia,143,1.721,0.628,0.000,0.242,0.000,0.088,0.091,...,33.768006,66.238514,43.4,43.0,24.0,34.0,55.0,2.0,62.0,68.0

In [4]:
df = pd.read_csv('imputed_dataset_with_coords.csv')
df.sample(5)

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude
1437,Moldova,Commonwealth of Independent States,71,5.8160,1.385000,1.277000,0.542000,0.695000,0.044000,0.077000,1.795000,2024,😑,47.287961,28.567094
920,Sierra Leone,Sub-Saharan Africa,139,3.9264,0.240560,0.747985,0.203954,0.382028,0.047941,0.257647,2.046272,2020,😡,8.640035,-11.840027
438,Congo (Brazzaville),Sub-Saharan Africa,124,4.2910,0.808964,0.832044,0.289957,0.435026,0.079618,0.120852,1.724136,2017,😡,-0.726433,15.641915
1275,Cyprus,Western Europe,46,6.1300,1.824000,1.224000,0.580000,0.455000,0.050000,0.104000,1.893000,2023,🤩,34.917416,32.889903
1474,Pakistan,South Asia,108,4.6570,1.069000,0.600000,0.321000,0.542000,0.074000,0.144000,1.907000,2024,😑,30.330840,71.247499

In [30]:
pop1522=pd.read_csv("pop2015_2022.csv")
pop1522

,Country,Country Code,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,104257,104874,105439,105962,106442,106585,106537,106445
1,Africa Eastern and Southern,AFE,600008424,616377605,632746570,649757148,667242986,685112979,702977106,720859132
2,Afghanistan,AFG,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771
3,Africa Western and Central,AFW,408690375,419778384,431138704,442646825,454306063,466189102,478185907,490330870
4,Angola,AGO,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987
...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,1788196,1777557,1791003,1797085,1788878,1790133,1786038,1761985
261,"Yemen, Rep.",YEM,28516545,29274002,30034389,30790513,31546691,32284046,32981641,33696614
262,South Africa,ZAF,55876504,56422274,56641209,57339635,58087055,58801927,59392255,59893885
263,Zambia,ZMB,16248230,16767761,17298054,17835893,18380477,18927715,19473125,20017675
264,Zimbabwe,ZWE,14154937,14452704,14751101,15052184,15354608,15669666,15993524,16320537

In [43]:
from fuzzywuzzy import process

# Function to find the closest match for a country name
def find_closest_match(country_name, population_data):
    matches = process.extract(country_name, population_data['Country'], limit=1)
    return matches[0][0] if matches and matches[0][1] > 70 else None


# Add population to the bigger table based on the year and country name
for index, row in df.iterrows():
    country_name = row['Country']
    year = row['Year']
    if pd.notnull(year):
        year = int(year)  # Convert to integer
        closest_match = find_closest_match(country_name, pop1522)
        if closest_match:
            population_col = str(year)
            if population_col in pop1522.columns:
                population = pop1522.loc[pop1522['Country'] == closest_match, population_col]
                if not population.empty:
                    df.at[index, 'Population'] = population.values[0]

df

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude,Population
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,🤩,46.798562,8.231974,8282396.0
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,🤩,64.984182,-18.105901,330815.0
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,🤩,55.670249,10.333328,5683483.0
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,🤩,64.573154,11.528036,5188607.0
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,🤩,61.066692,-107.991707,35702908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,Congo (Kinshasa),Sub-Saharan Africa,139,3.295,0.53400,0.66500,0.26200,0.47300,0.07200,0.18900,1.10200,2024,😡,-2.981434,23.822264,NaN
1506,Sierra Leone,Sub-Saharan Africa,140,3.245,0.65400,0.56600,0.25300,0.46900,0.05300,0.18100,1.06800,2024,😡,8.640035,-11.840027,50025.0
1507,Lesotho,Sub-Saharan Africa,141,3.186,0.77100,0.85100,0.00000,0.52300,0.08500,0.08200,0.87500,2024,😡,-29.603927,28.335019,2777979.0
1508,Lebanon,Middle East and North Africa,142,2.707,1.37700,0.57700,0.55600,0.17300,0.02900,0.06800,-0.07300,2024,😡,40.375713,-76.462612,3990123.0
1509,Afghanistan,South Asia,143,1.721,0.62800,0.00000,0.24200,0.00000,0.08800,0.09100,0.67200,2024,😡,33.768006,66.238514,341529256.0

In [44]:
pop2322=pd.read_csv("pop2023-2024.csv")
pop2322

              Country          2024        2023
0               India  1.439665e+09  1428627663
1               China  1.425278e+09  1425671352
2       United States  3.415293e+08   339996563
3           Indonesia  2.794450e+08   277534122
4            Pakistan  2.444612e+08   240485658
..                ...           ...         ...
229        Montserrat           NaN        4386
230  Falkland Islands           NaN        3791
231              Niue  1.935000e+03        1935
232           Tokelau           NaN        1893
233      Vatican City           NaN         764

[234 rows x 3 columns]

In [45]:

# Add population to the bigger table based on the year and country name
for index, row in df.iterrows():
    country_name = row['Country']
    year = row['Year']
    if pd.notnull(year):
        year = int(year)  # Convert to integer
        closest_match = find_closest_match(country_name, pop2322)
        if closest_match:
            population_col = str(year)
            if population_col in pop2322.columns:
                population = pop2322.loc[pop1522['Country'] == closest_match, population_col]
                if not population.empty:
                    df.at[index, 'Population'] = population.values[0]

df

,Country,Region,Happiness Rank,Ladder score,Economy,Social support,Health,Freedom,Trust,Generosity,Dystopia Residual,Year,Emoji,Latitude,Longitude,Population
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,🤩,46.798562,8.231974,8282396.0
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,🤩,64.984182,-18.105901,330815.0
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,🤩,55.670249,10.333328,5683483.0
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,🤩,64.573154,11.528036,5188607.0
4,Canada,North America and ANZ,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,🤩,61.066692,-107.991707,35702908.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1505,Congo (Kinshasa),Sub-Saharan Africa,139,3.295,0.53400,0.66500,0.26200,0.47300,0.07200,0.18900,1.10200,2024,😡,-2.981434,23.822264,NaN
1506,Sierra Leone,Sub-Saharan Africa,140,3.245,0.65400,0.56600,0.25300,0.46900,0.05300,0.18100,1.06800,2024,😡,8.640035,-11.840027,50025.0
1507,Lesotho,Sub-Saharan Africa,141,3.186,0.77100,0.85100,0.00000,0.52300,0.08500,0.08200,0.87500,2024,😡,-29.603927,28.335019,2777979.0
1508,Lebanon,Middle East and North Africa,142,2.707,1.37700,0.57700,0.55600,0.17300,0.02900,0.06800,-0.07300,2024,😡,40.375713,-76.462612,3990123.0
1509,Afghanistan,South Asia,143,1.721,0.62800,0.00000,0.24200,0.00000,0.08800,0.09100,0.67200,2024,😡,33.768006,66.238514,341529256.0